.test-details {
	display: flex;
	flex-direction: column;
}

.test-details :first-child::before {
	content: "Input: ";
	font-weight: 800;
}

.test-details :last-child::before {
	content: "Output: ";
	font-weight: 800;
}

textarea {
	margin-top: 15px;
}

.btn:not(.btn-secondary) {
	background-color: #caa471;
	margin-top: 30px;
}

.btn-secondary {
	background-color: #2f5785;
}
