
.btn {
	background-color: #caa471FF;
	color: white;
}

.btn:not(.btn-secondary):hover {
	background-color: #caa471AA
}

.btn.btn-secondary {
	background-color: #2f5785;
}

.navbar {
	margin: 5px;
	padding: 5px;
}
