.assignment-section {
	border: 1px solid lightgray;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
	width: 100%;
}

#code-preview {
	font-size: 15px;
}

#comment {
	width: 100%;
	margin: 5px;
}

.btn-secondary {
	background-color: #2f5785;
}

