.assignment-submission-grade .list-group {
	margin-top: 15px;
}


#submit-code button {
	margin-top: 10px;
}
.submission-feedback {
	font-size: 15px;
	padding: 10px;
}
.btn-secondary {
	background-color: #2f5785;
}

